# Base de datos
BD_HOST=db
BD_USUARIO=tu_usuario
BD_CONTRASENA=tu_contrasena
BD_NOMBRE=portfolio
BD_ROOT_PASSWORD=tu_root_password

# Admin
ADMIN_USUARIO=tu_usuario_admin
ADMIN_CONTRASENA=tu_contrasena_admin